.contact_section {
  width: 100%;
  height: 100vh;
  background: #5a5a5a;
}
.main_container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.contact_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10% 10%;
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.text_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact_title {
  width: 100%;
  height: 100%;
  font-size: 5rem;
  font-weight: 700;
}
.contact_paragraph {
  width: 100%;
  height: 100%;
  padding: 0 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_form_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main_form_name_email {
  width: 100%;
  height: 100%;
}
.form_name_email input {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  padding: 1rem;
}
.form_name_email input::placeholder {
  color: #fff;
  font-size: 1rem;
}

.form_name_email {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.main_form_container input {
  width: 100%;
  height: 3.5rem;
  font-size: 1rem;
  padding: 1rem;
}
.contact_button:hover {
  background: linear-gradient(45deg, #000000, #ffffff80);
}
.contact_button {
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.from_in_txt input::placeholder {
  color: #ffffff;
  font-size: 1rem;
}
.from_in_txt input {
  width: 100%;
  height: 4rem;
}

.from_in_txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.from_in_txt textarea {
  resize: none;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
}
.from_in_txt textarea::placeholder {
  color: #ffffff;
  font-size: 1rem;
}
@media (max-width: 1000px) {
  .main_container {
    flex-flow: column-reverse;
  }
  .contact_section {
    height: 200vh;
  }
  .contact_title {
    font-size: 5rem;
  }
}
@media (max-width: 700px) {
  .contact_title {
    font-size: 4rem;
  }
  .contact_form {
    width: 100%;
    height: 100%;
  }
  .contact_container {
    width: 100%;
    height: 100%;
  }
  .contact_form {
    border-radius: 0%;
    padding: 2rem;
  }
}
@media (max-width: 1400px) {
  .contact_title {
    font-size: 4rem;
  }
  .contact_form {
    width: 100%;
    height: 100%;
  }
}
