.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#000000 0%, #d81159 50%, #000000 105%);
  flex-direction: column;

  
}

.main_container {
  height: 100%;
  width: 100%;
padding: 0px 128px;
  /* border: 1px solid black; */
  position: relative;
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.title {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
}
.typewriter {
  font-size: 2.5rem;
  color: #2f3439;

  font-weight: 700;
}
.social_media {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
  font-size: 2.5rem;
}
.fab:hover{
color: black;
}
.scroll{
  width: 100%;
 display: flex;
  justify-content: space-between;
  padding: 0 100px;
 
}
.scrollDown{
  transform: matrix(0, 1, -1, 0, 0,-50);
  font-size:1rem;
  font-weight: 700;

 
  animation-name: updown;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes updown {
  0% {
    transform: matrix(0, 1, -1, 0, 0,-50);
  }
  25% {
    transform: matrix(0, 1, -1, 0, 0, -100);
  }
  50% {
    transform: matrix(0, 1, -1, 0, 0, -50);
  }
  75% {
    transform: matrix(0, 1, -1, 0, 0, -100);
  }
  100% {
    transform: matrix(0, 1, -1, 0, 0, -50);
  }
}
.buttons{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}