.nav_container{
 width: 100%;
 background-color: transparent;
 position: fixed;
 top: 0;
 z-index: 9999999999;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 font-size: 2rem;
}

.nav_menu{
 color: #fff;
 stroke: #fff;
 cursor: pointer;
position: absolute;
top: 50px;
right: 50px;
transform: translate(-50%, -50%);
}
.nav_menu:hover, .nav_menu:focus{
 color: #D51158;
  stroke: #D51158;
}


.menu_container{
 width: 100%;
 width: 100vh;
 background-color: black;
 z-index: 9;

}

