.progressbar{
 position: relative;
 overflow: hidden;
 width: 100%;
 height: 100%;
 height: 3px;
 border-radius: 5px;
 background-color: #626262;

}
.container{
 margin: 4rem 0;
 position: relative;
 width: 100%;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}
.text{
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size:1rem
}
.title span{
 font-size: 1.25rem;
 font-weight: 600;
 
}
.percent{
font-size: 1.25rem;
font-weight: 900;
}
.percent span{
font-size: 0.8rem;
}